body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image:
    linear-gradient(
      #222c85bc,
      #b9bc9311
      ),
    url("../images/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 5% 0 0;
}

.container h2 {
  font-size: 70px;
  color: yellow;
  font-family:
    "Sedgwick Ave Display",
    cursive;
  margin-bottom: 12%;
}

.watch {
  width: 8%;
  height: 7vh;
  margin: 0 0 0 10px;
}

.stopwatch {
  width: 45%;
  height: 28vh;
  background-image:
    linear-gradient(
      #222c85bc,
      #b9bc938d
		);
  text-align: center;
  padding: 20px;
  margin: auto;
  border-radius: 3px;
  border: 3px solid darkblue;
  position: relative;
}

.stopwatch h1 {
  font-size: 60px;
  color: yellow;
}

.stopwatch button {
  font-size: 30px;
  width: 25%;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 0 10px;
  color: yellow;
  background-color: darkblue;
}

@media screen and (max-width: 768px) {
  .container h2 {
    font-size: 40px;
  }

  .stopwatch {
    width: 70%;
    height: 30vh;
    padding: 18px;
  }

  .stopwatch h1 {
    font-size: 50px;
  }

  .stopwatch button {
    font-size: 25px;
    width: 20%;
    padding: 5px;
    margin: 0 8px;
  }
}
